<!--Name: Edward Kennedy-->
<!--Course: CSC 415-->
<!--Semester: Fall 2016-->
<!--Instructor: Dr. Pulimood-->
<!--Project name: Improved Initiative Tracker-->
<!--Description: Pathfinder initiative tracker and status manager-->
<!--Filename:main/_errors.erb-->
<!--Description:displays any errors for a given object-->
<!--Last modified on: 11/22/16-->
<!--Adapted from Skoglund's Ruby on Rails course: https://www.lynda.com/Ruby-Rails-tutorials/Ruby-Rails-5-Essential-Training/500551-2.html-->
<% if object && object.errors.size > 0 %>
    <div>
      <strong>You have <%= pluralize(object.errors.size, "error") %> in this form:</strong>
      <table>
        <% object.errors.full_messages.each do |msg| %>
            <tr><td><%= msg %></td></tr>
        <% end %>
      </table>
    </div>
<% end %>