<!--Name: Edward Kennedy-->
<!--Course: CSC 415-->
<!--Semester: Fall 2016-->
<!--Instructor: Dr. Pulimood-->
<!--Project name: Improved Initiative Tracker-->
<!--Description: Pathfinder initiative tracker and status manager-->
<!--Filename:main/index.html.erb-->
<!--Description:shows the main table and nothing else-->
<!--Last modified on: 12/13/16-->
<div class="col-md-6 col-md-offset-3">
  <% if Encounter.exists?(session[:encounter_id]) %>
      <%= render(:partial => 'main_table') %>
  <% else %>
      <!--Added for the final exam-->
      <center>
        No encounter loaded.
        <%= link_to('Click here to choose one', encounters_path) %>
      </center>
  <% end %>
</div>