<h1>Creatures#edit</h1>
<div class="creatures form">
  <%= form_for(@creature) do |f| %>
      <%= render(:partial => 'form', :locals => {:f => f}) %>

      <%= f.submit("Update creature") %>
  <% end %>
</div>
