<h1>Creatures#edit</h1>
<%= link_to("<< Back to creature list", creatures_path) %>
<div class="creatures form">
  <%= form_for(@creature) do |f| %>
      <%= render(:partial => 'form', :locals => {:f => f}) %>

      <%= f.submit("Update creature") %>
  <% end %>
</div>
