<!--Name: Edward Kennedy-->
<!--Course: CSC 415-->
<!--Semester: Fall 2016-->
<!--Instructor: Dr. Pulimood-->
<!--Project name: Improved Initiative Tracker-->
<!--Description: Pathfinder initiative tracker and status manager-->
<!--Filename:creatures/show.html.erb-->
<!--Description:shows a creatures statistics next to the main table-->
<!--Last modified on: 11/22/16-->
<div class="col-md-6 col-md-offset-2">
  <%= render(:partial => 'main/main_table') %>
</div>
<div class="col-md-3">
  <div class="col-md-8 col-md-offset-2">
    <%= link_to("<< Back", :back) %>

      <%= render(:partial => 'stat_block', :locals => {:creature => @creature}) %>

  </div>
</div>