/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "_bootstrap.scss";
body {
    background-color: #e5e5f5;
}

.table-bordered td, .table-bordered th {
    border: 1px solid black !important;
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #d3d3f3; // Choose your own color here
}
.section {
    border-bottom: 1px solid black;
    /*border-top: 1px solid black;*/
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

table td.statuses {
    padding-right: 5px;
    padding-left: 5px;
}
table td.statuses {
    border:0 !important;
}
table td + td.statuses {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-right: 0 !important;
    border-left: 1px solid grey !important;
}

input, textarea {
    background-color: #f5f5ff;
}

input[type=submit] {
    background-color: #f3f3ff;
    border: 1px solid darkgray;
}

.btn-danger {
    background-color: #D9534F !important;
}